html,body{
    background-image: url("assets/1.jpg");
    background-attachment: fixed;
    background-size: 100% auto;
    scroll-behavior: smooth;
   
}
nav{
    position: fixed;
}

section{
   /* background-color: rgb(128, 128, 128,0.3);*/
    height: 100vh ;
    scroll-snap-align: start;
    padding-top: 10%;
}

.navbar.navbar-dark.bg-dark{
    background-color: ;
}

.jumbotron-fluid{
    font-family: Saira Stencil One, cursive; 
    padding-top: 10% !important;
    text-align: center;
    color: white;
    height: 95%;
    background-color: transparent !important;
}

.jumbotron-fluid .container hr{
    border: 1px solid white; 
    width: 50%;
}

.navbar-brand{
    font-family: 'Herr Von Muellerhoff', cursive; font-size: 25px;
}
#about{
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 20px;
}

#about .card.mb-3{
    background-color: transparent !important;
    color: white;
    
}
.col-md-8{
    padding-left: 5% !important;
}

ul {
    list-style-position: inside;
}

#resume .card-group {
    width: 90% !important;
    padding-left: 10%;
    color: white;
    background-color: transparent !important;
    text-align: justify;
}
#resume .card-group .card {
    background-color: rgb(128, 128, 128,0.3) !important;
    border: 2px solid black;
}
.fa.fa-check{
    padding-left: 25%;
    color: green;
    font-size: 35px;
}

.spinner-border.ml-auto{
    color: red;
}